.App {
  text-align: left;
  color: rgb(64,61,60);
  font-family: 'Ubuntu', sans-serif;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.p-card{
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-top: solid 0.2em rgb(168,124,160);
  box-shadow: 0px -1px 3px 2px rgba(99, 99, 99, 0.15);
  height: 95vh;
  overflow: hidden;
  transition: height 0.3s ease; 

}

.p-card__inner{
  overflow: hidden;
}

.p-card.expanded {
  height: fit-content;
}

Span{
  color: rgb(40,175,226);
  cursor: pointer; 
}

.u{
  border: none;
  background: none;
  border-top: 2px dotted lightgray;
}

a:link{
  color: rgb(40,175,226);
}